@import url('https://fonts.googleapis.com/css?family=Bangers|Inconsolata|Open+Sans');
@font-face{font-family:'neorf';font-style:normal;font-weight:400;src:url(../fonts/neorf.woff2) format('woff2'), url(../fonts/neorf.woff) format('woff');}
.opensans{font-family:'Open Sans';}
.bangers{font-family:'Bangers';}
.inconsolata{font-family:'Inconsolata';}
.neorf{font-family:'neorf';}
